{% extends 'index.html'%}
{% load static %}
{% block icerik %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-3">
                <div class="card bg-light mb-3">
                    <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Kitap Türleri</div>
                    <ul class="list-group category_block">
                        <li class="list-group-item"><a href="category.html">Anı</a></li>
                        <li class="list-group-item"><a href="category.html">Bilim</a></li>
                        <li class="list-group-item"><a href="category.html">Çizgi Roman</a></li>
                        <li class="list-group-item"><a href="category.html">Edebiyat</a></li>
                        <li class="list-group-item"><a href="category.html">Hikaye</a></li>
                        <li class="list-group-item"><a href="category.html">Masal</a></li>
                        <li class="list-group-item"><a href="category.html">Mizah</a></li>
                        <li class="list-group-item"><a href="category.html">Öykü</a></li>
                        <li class="list-group-item"><a href="category.html">Tarih</a></li>
                        <li class="list-group-item"><a href="category.html">Şiir</a></li>
                        <li class="list-group-item"><a href="category.html">Polisiye</a></li>
                    </ul>
                </div>
              
            </div>
            <div class="col">
                <div class="row">
                    {% for book in book_list %}
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'images/demo/harry_potter.jpg' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"><a href="product.html" title="View Product">{{ book.name }}</a></h5>
                                <p>{{book.author_id.author_name}} {{book.author_id.author_lastname}}</h5>
                                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> --> 
                                <div class="row">
                                    <div class="col">
                                        <p><a href="#" class="btn-block">Devamını Oku</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
          
    
        </div>
    </div>
    

{% endblock %}