{% extends 'index.html'%}
{% load static %}
{% block icerik %}
<link href="{% static 'bootstrap/css/a.css' %}" rel="stylesheet" />
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-4">
            <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Kitap Türleri</div>
                <ul class="list-group category_block">
                    <li class="list-group-item"><a href="category.html">Anı</a></li>
                    <li class="list-group-item"><a href="category.html">Bilim</a></li>
                    <li class="list-group-item"><a href="category.html">Çizgi Roman</a></li>
                    <li class="list-group-item"><a href="category.html">Edebiyat</a></li>
                    <li class="list-group-item"><a href="category.html">Hikaye</a></li>
                    <li class="list-group-item"><a href="category.html">Masal</a></li>
                    <li class="list-group-item"><a href="category.html">Mizah</a></li>
                    <li class="list-group-item"><a href="category.html">Öykü</a></li>
                    <li class="list-group-item"><a href="category.html">Tarih</a></li>
                    <li class="list-group-item"><a href="category.html">Şiir</a></li>
                    <li class="list-group-item"><a href="category.html">Polisiye</a></li>
                </ul>

        </div>
        <div class="col-md-8">
            {% for book in book_list %}

                <div class="row">
                    <div class="col-md-3">
                    {% if book.image %}
                        <a href="#"><img class='image' src="{{book.image}}" alt="" style="width:170px;height:250px"></a>
                    {% else %}
                        <a href="#!"><img class="card-img-top" src="{% static 'images/demo/resim-yok.jpg' %}" alt="..." /></a>
                    {% endif %}
                            
                            
                    </div>
                    <div class="col-md-9">
                        <div class="post-preview">
                            <a href="{% url 'getBookDetails' book.book_id  %}">
                                <h2 class="post-title">{{ book.book_name }}</h2>
                                <h3 class="post-subtitle">{{book.author_id.author_name}}, {{book.species_id.species_name}}</h3>
                            </a>
                            <p class="post-meta">
                                <br>
                                <a href="#!">Yayıncı</a>
                                July 8, 2021 tarinde paylaştı.
                            </p>
                        </div>
                    </div>
                </div>
            
                <hr class="my-4" />
            {% endfor %}
        </div> 
            <!-- Post preview-->
           
            <!-- <ul class="nospace group overview">
        {% for book in book_list %}
          <li class="one_third">

            <figure><a href="#"><img src="{% static 'images/demo/harry_potter.jpg' %}" alt=""></a>
              <figcaption>
                <h3 class="heading">{{ book.book_name }}</h3>
                <h6>{{book.author_id.author_name}}</h6>
                <p>{{book.species_id.species_name}}</p>
              </figcaption>
            </figure>
          </li>
      {% endfor %}
       
      </ul> -->
            <!-- Divider-->
           
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
        </div>
    </div>
</div>
{% endblock %}